<template>
  <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="updateForm">
            <div class="form-group">
              <label>Title</label>
              <input type="text" :placeholder="editableUser.title" name="title" class="form-control">
            </div>
            <div class="form-group">
              <label>Description</label>
              <input type="text" :placeholder="editableUser.description" name="description" class="form-control">
            </div>
            <div class="form-group">
              <label>URL</label>
              <input type="text" :placeholder="editableUser.url"  name="url" class="form-control">
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" @click="updateProfile">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import $ from 'jquery';
export default {
  props: ['user'],
  data() {
    return {
      editableUser: this.$props.user,
    }
  },
  methods: {
    updateProfile: function () {
      let formData = $('.updateForm').serialize();
      console.log(formData);
      const config = {
        headers : {
          'content-type': 'multipart/form-data'
        }
      }
      axios.put(process.env.VUE_APP_BASE_URI + '/api/profiles/profile/edit', formData, config)
      .then(response => {
        console.log(response);
      }).catch(error => {
        console.log(error.response);
      });
    },
  }
}
</script>

<style scoped>

</style>