<template>
  <div>
    <h4>Login Form</h4>
    <div class="d-flex justify-content-center pt-4">
      <form @submit.prevent="login">
        <div class="form-group">
          <label>Username Or Email</label>
          <input required type="text" class="form-control" v-model="usernameOrEmail" placeholder="Username/Email">
        </div>

        <div  class="form-group">
          <label>Password</label>
          <input required class="form-control" type="password" v-model="password" placeholder="Password">
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                usernameOrEmail: '',
                password: ''
            }
        },
        methods: {
            login: function () {
                let usernameOrEmail = this.usernameOrEmail;
                let password = this.password;
                this.$store.dispatch('login', {usernameOrEmail, password}).then(() => {
                    this.$router.push('/')
                }).catch(error => {
                    console.log(error);
                })
            }
        },
    }
</script>

<style scoped>

</style>