<template>
  <div v-if="isAuthenticatedUser && loaded">
    <div class="container">
      <div class="row">
        <div class="col-3 p-5">
        <img :src="`${this.$store.state.user.image}`" class="rounded-circle w-100" alt="img">
        </div>
        <div class="col-9 pt-5">
          <div class="d-flex justify-content-between align-items-baseline">
            <div class="d-flex align-items-center pb-3">
              <div class="h4">{{ this.$store.state.user.user.username }}</div>
              <div>
                <button class="btn btn-primary ml-4">Follow</button>
              </div>
            </div>
            <a href="#" class="btn btn-primary">Add New Post</a>
          </div>

          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editProfile">Edit profile</a>
          <edit-profile :user="this.$store.state.user"></edit-profile>

          <div class="d-flex ">
            <div class="pr-5"><strong>100</strong> posts</div>
            <div class="pr-5"><strong>{{ this.$store.state.user.followers.length }}</strong> followers</div>
            <div class="pr-5"><strong>{{ this.$store.state.user.user.following.length }}</strong> following</div>
          </div>
          <div v-if="this.$store.state.user.title" class="pt-4 font-weight-bold">{{ this.$store.state.user.title }}</div>
          <div v-else class="pt-4 font-weight-bold">Null</div>
          <div v-if="this.$store.state.user.description">{{ this.$store.state.user.description }}</div>
          <div v-else>Null</div>
          <div v-if="this.$store.state.user.url"><a href="#">{{ this.$store.state.user.url }}</a></div>
          <div v-else><a href="#">http://www.test.com</a></div>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-4 pb-4">
          <a href="#">
            <img src="" class="w-100">
          </a>
        </div>

      </div>
    </div>
  </div>
</template>

<script>

import EditProfile from "@/components/EditProfile";
export default {
  components: {EditProfile},
  data() {
    return {
      base_uri: process.env.VUE_APP_BASE_URI,
      loaded: false,
    }
  },
  methods: {
    edit: function () {
      this.$router.push('/');
    },
  },
  computed :{
    isAuthenticatedUser: function () {
      return !!this.$store.getters.authUser;
    }
  },
  mounted() {
    let self = this;
    this.$store.dispatch('getAuthenticatedUser').then(response => {
      self.loaded = true;
      console.log(response);
    }).catch(error => {
      self.loaded = false;
      console.log(error);
      // TODO trigger an event to open authorization modal
    });
  }
}
</script>

<style scoped>
  div {
    text-align: left;
  }
</style>
