<template>
  <div>
    <h5>Registration Form</h5>
    <div class="d-flex justify-content-center pt-4">
          <form @submit.prevent="register">
              <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" type="text" v-model="name" required autofocus>
              </div>

              <div class="form-group">
                <label for="username">Username</label>
                <input id="username" class="form-control" type="text" v-model="username" required autofocus>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" type="email" v-model="email" required autofocus>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" v-model="password" required>
              </div>
              <div>
                  <button type="submit" class="btn btn-primary">Register</button>
              </div>
          </form>
      </div>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                username: '',
                name: '',
                email: '',
                password: '',
            };
        },
        methods: {
            register: function () {
                let data = {
                    username: this.username,
                    name: this.name,
                    email: this.email,
                    password: this.password
                };
                this.$store.dispatch('register', data).then(() => {
                    this.$router.push('/');
                }).catch(error => {
                    console.log(error);
                })
            }
        }
    };
</script>

<style scoped>

</style>