<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
      <span v-if="isLoggedIn"> | <a href="javascript:void(0)" @click="logout">Logout</a> </span>
      <span v-else> | <router-link to="/login">Login</router-link> </span>
      <span v-if="!isLoggedIn"> | <router-link to="/register">Register</router-link> </span>
      <span v-if="isLoggedIn">|
        <router-link to="/resources">Protected Resource</router-link>
      | <router-link to="/profile">Profile</router-link>
      </span>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  text-align: center;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>

<script>
  export default {
    computed: {
      isLoggedIn: function () {
        return this.$store.getters.isLoggedIn;
      },
    },
    methods: {
      logout: function () {
        this.$store.dispatch('logout').then(() => {
          this.$router.push('/login');
        });
      }
    }
  };
</script>