<template>
    <div>
        <h1>{{ success }}</h1>
        <h4>{{ message }}</h4>
    </div>
</template>

<script>
import axios from 'axios';

    export default {
      data() {
        return {
          message: '',
          success: null,
        }
      },
      methods: {
        getMessage: function () {
          axios({
            url: process.env.VUE_APP_AUTH_BASE_URI + '/test',
            method: 'GET'
          }).then(response => {
            this.message = response.data.message;
            this.success = response.data.success;
          }).catch(error => {
            this.message = error.response.data.message;
            this.success = error.response.data.success;
          })

        }
      },
      mounted() {
        var self = this;
        self.getMessage();
      }
    }
</script>

<style scoped>

</style>